@model List<Question>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@for (int i = Model.Count<Question>() - 1; i >= 0; i--)
{
    <div class="question-container">
        <h2 class="question-title">@Model[i].Title</h2>
        @if (Model[i].Image != null)
        {
            <img class="question-img" src="@Url.Content(Model[i].Image)" />
        }
        @if (Model[i].Description != null)
        {
            <p class="question-description">@Model[i].Description</p>
        }
        <a asp-controller="Question" asp-action="Detail" class="blue button" asp-route-id="@Model[i].Id">View</a>
        <a asp-controller="Question" asp-action="Edit" class="blue button" asp-route-id="@Model[i].Id">Edit</a>
    </div>
}