<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DiscussionForum</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DiscussionForum.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-utilities.css" />
    <script type="text/javascript" src="~/js/site.js"></script>
</head>
<body id="body">
    <header>

        <div onclick="showTopicsPopup()" class="white-lines-container">
            <div class="white-line"></div>
            <div class="white-line"></div>
            <div class="white-line"></div>
        </div>

        <a class="logo-link" asp-area="" asp-controller="Question" asp-action="Index">
            <img class="logo-img" alt="discussion forum logo" src="~/img/logo.png" />
        </a> 

        <div onclick="showUserPopup()" class="person-image-container">
            <div class="person-head"></div>
            <div class="person-body"></div>
        </div>

    </header>

    <div id="main-container">
        @{
            var topics = Enum.GetValues(typeof(DiscussionForum.Data.Enums.Topic));
        }
        <div id="topics-popup">
            <ul>
                <li>
                    <a class="topic-link" asp-area="" asp-controller="Question" asp-action="Index">All</a>
                </li>
                @foreach (object radiotext in topics)
                {
                    <li>
                        <a class="topic-link" asp-controller="Question" asp-action="Sort" type="radio" asp-route-topic="@radiotext">@radiotext.ToString()</a>
                    </li>
                }
            </ul>
        </div>

        <div id="topics-sidebar">
            <div class="h-container">
                <div class="background blue">
                    <h1 class="blue">Topics</h1>
                </div>
            </div>
            <div class="topics-container">
                <ul>
                    <li>
                        <a class="topic-link" asp-area="" asp-controller="Question" asp-action="Index">All</a>
                    </li>
                    @foreach (object radiotext in topics)
                    {
                        <li>
                            <a class="topic-link" asp-controller="Question" asp-action="Sort" type="radio" asp-route-topic="@radiotext">@radiotext.ToString()</a>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div class="content-container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <div id="user-sidebar">
            <div class="h-container">
                <div class="background blue">
                    <h1 class="blue">User</h1>
                </div>
            </div>
            <div class="user-container">
                <ul class="nav nav-pills flex-column mb-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a asp-controller="User" asp-action="EditProfile" class="user-link">
                                Edit Profile
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Question" asp-action="Create" class="user-link">
                                Post Question
                            </a>
                        </li>
                        <li>
                            <a asp-controller="User" asp-action="UserQuestions" class="user-link">
                                My Questions
                            </a>
                        </li>
                        <li>
                            <a asp-controller="User" asp-action="UserAnswers" class="user-link">
                                My Answers
                            </a>
                        </li>
                        <li>
                            <form asp-controller="Logging" asp-action="Logout">
                                <button class="logout-button">Sign Out</button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-controller="Logging" asp-action="Login" class="user-link">
                                Sign In
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Logging" asp-action="Register" class="user-link">
                                Sign Up
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div id="user-popup">
            <div class="user-container">
                <ul class="nav nav-pills flex-column mb-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a asp-controller="User" asp-action="EditProfile" class="user-link">
                                Edit Profile
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Question" asp-action="Create" class="user-link">
                                Post Question
                            </a>
                        </li>
                        <li>
                            <a asp-controller="User" asp-action="UserQuestions" class="user-link">
                                My Questions
                            </a>
                        </li>
                        <li>
                            <a asp-controller="User" asp-action="UserAnswers" class="user-link">
                                My Answers
                            </a>
                        </li>
                        <li>
                            <form asp-controller="Logging" asp-action="Logout">
                                <button class="logout-button">Sign Out</button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-controller="Logging" asp-action="Login" class="user-link">
                                Sign In
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Logging" asp-action="Register" class="user-link">
                                Sign Up
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div onclick="hideAllPopups()" id="blank-canvas"></div>

    </div>
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
