@model List<Answer>


@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="shadow-div">
            @if (@item.AppUser != null)
            {
                <div class="user-info-block answer-margin">
                    @if (item.AppUser.Image != null)
                    {
                        <img class="user-img" src="@Url.Content(item.AppUser.Image)" />
                    }
                    else
                    {
                        <img class="user-img" src="~/img/user.png" />
                    }
                    @if (item.AppUser.UserName != null)
                    {
                        <h1>@item.AppUser.UserName</h1>
                    }
                </div>
            }
            else
            {
                <div class="user-info-block answer-margin">
                    <img class="user-img" src="~/img/user.png" />
                    <h1>Seed</h1>
                </div>
            }
            <div class="answer-container">
                <p>@item.Description</p>
                @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                {
                    <div class="my-hr"></div>
                    <div class="answer-buttons-row">
                        <a asp-controller="Answer" asp-action="Edit" class="blue button-link" asp-route-id="@item.Id">Edit</a>
                        <a asp-controller="Answer" asp-action="Delete" class="red button-link" asp-route-id="@item.Id">Delete</a>
                    </div>
                }
            </div>
        </div>
    }
    @if (User.Identity.IsAuthenticated)
    {
        <div class="answer-bottom-space"></div>
    }
}